.activities-after-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
  }
  
  .text-overlay {
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .small-text {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .big-text {
    font-size: 2rem; 
    color: white; 
    font-weight: 500;
    line-height: 1.5; 
    max-width: 800px; 
    margin: 0 auto; 
    padding-bottom: 20px;
  }
  
  .check-info {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
  }
  
  .check-in, .check-out, .guests {
    text-align: left;
  }
  
  .check-availability-button {
    background-color: #d9a760;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .check-availability-button:hover {
    background-color: #b2884f;
  }
  