.upperPortion{
    background-image: url('../../public/assets/mountainImage.avif');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    position: relative; 
}

.whiteLine {
    border: none;
    height: 1px;     
    background-color: rgb(160, 137, 137);
    width: 100%;   
  }

  .text-section {
    position: absolute; /* Allows positioning the text over the background */
    top: 50%; /* Move the text halfway down the viewport */
    left: 50%; /* Move the text halfway across the viewport */
    transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
    text-align: center; /* Center the text */
}

.small-text {
    font-size: 1.4rem; /* Smaller font size */
    color: #100202; /* White text */
    font-weight: 300; /* Light weight */
    letter-spacing: 1px;
    margin-bottom: 10px; /* Add some space between small and big text */
}

.big-text {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px; 
    text-transform: uppercase; 
    color: #110202;
}
