.upperPortion{
    background-image: url('../../public/assets/mountainImage.avif');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    position: relative; 
}

.whiteLine {
    border: none;
    height: 1px;     
    background-color: rgb(160, 137, 137);
    width: 100%;   
  }

  .text-section {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
}

.small-text1 {
    font-size: 1.4rem;
    color: white; 
    font-weight: 300; 
    letter-spacing: 1px;
    margin-bottom: 30px; 
    text-align: center;
}

.big-text1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px; 
    text-transform: uppercase; 
    color: white;
    text-align: center;
}
